<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <dev class="main-content">
    {{>header}}
    <br>
    <img class="portait" src="/img/Kingfisher.jpg">
    </dev>
    {{>footer}}
</body>

</html>